/* global style */
body {
 font-family: "Nunito Sans", sans-serif;
 color: #fff;
 background-color: #1a1a24;
}
h1,
h2 {
 font-family: "Roboto", sans-serif;
}
a {
 text-decoration: none;
 color: #fff;
}
img {
 display: block;
 max-width: 100%;
}
button {
 border: none;
}
.btn-regular {
 outline: none;
 background-color: #5454d4;
 color: #fff;
 font-weight: lighter;
 border: 1px solid transparent;
 border-radius: 3px;
 padding: 0.4em 1.2em;
 transition: all 300ms;
}
.btn-regular:hover {
 border: 1px solid white;
 background-color: transparent;
}

/* header section */

header {
 background: linear-gradient(-80deg, #25201d, #252541);
 min-height: 80vh;
}
nav {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 1em 0;
}
nav p {
 font-size: 1.8rem;
 font-weight: bold;
 margin: 0;
}
nav ul {
 display: flex;
 list-style: none;
 align-items: center;
 margin: 1em;
}
nav ul li {
 margin: 0 1em;
}
nav ul li a {
 transition: all 300ms;
}
nav ul li a:hover {
 color: #5454d4;
}
nav ul li:first-child a {
 color: #5454d4;
}
nav ul li a {
 margin: 0;
 font-weight: lighter;
}
nav button {
 background-color: transparent;
 color: #fff;
 font-weight: lighter;
 border: 0.5px solid #fff;
 border-radius: 3px;
 padding: 0.3em 1.3em;
 transition: all 300ms;
 position: relative;
}
nav button:hover {
 background-color: #5454d4;
 border: 0.5px solid transparent;
}
/* banner section */
.banner-section {
 padding-top: 3rem;
 padding-bottom: 5rem;
}
.slogan {
 font-size: 3.5rem;
}
.banner-text {
 font-size: 1.2rem;
}
.banner-image {
 position: relative;
 display: block;
}
.person {
 position: relative;
 min-height: 500px;
}
.banner-image img {
 position: absolute;
 z-index: 5;
 clip-path: polygon(
  45% 0%,
  84% 12%,
  92% 42%,
  117% 24%,
  80% 91%,
  74% 101%,
  20% 84%,
  -21% 68%,
  12% 32%,
  19% 10%
 );
 max-width: 300px;
}

.banner-image::after {
 content: "";
 position: absolute;
 z-index: 1;
 width: 250px;
 height: 250px;
 top: 111px;
 left: 44px;
 border-radius: 14px;
 background-color: #5454d4;
 transform: rotate(23deg);
 border: 2px solid white;
}
.banner-image::before {
 content: "";
 position: absolute;
 z-index: 1;
 height: 250px;
 width: 250px;
 border: 2px solid #fff;
 border-radius: 14px;
 top: 60px;
 left: 20px;
 transform: rotate(23deg);
}

.zigzag {
 position: absolute;
 width: 20px;
 height: 18.58px;
 left: -85px;
 right: 0px;
 top: 18px;
 border-bottom: 3.65476px solid #e7e7e7;
 border-right: 3.65476px solid #e7e7e7;
 transform: rotate(45deg);
}

.zigzag::before {
 content: "";
 position: absolute;
 width: 20px;
 height: 18.58px;
 left: -18px;
 right: 0px;
 top: 17px;
 border-bottom: 3.65476px solid #e7e7e7;
 border-right: 3.65476px solid #e7e7e7;
 transform: rotate(364deg);
}

.zigzag::after {
 content: "";
 position: absolute;
 width: 20px;
 height: 18.58px;
 left: 19px;
 right: 0px;
 top: -16px;
 border-bottom: 3.65476px solid #e7e7e7;
 transform: rotate(-1deg);
}

.circles {
 width: 50px;
 height: 50px;
 padding: 12px 20px;
 border: 3px solid #fff;
 border-radius: 50%;
 position: absolute;
 font-weight: bold;
 top: -10%;
 left: 70%;
}

.circles::before {
 content: "";
 width: 50px;
 height: 50px;
 border-radius: 50%;
 position: absolute;
 top: 15px;
 left: 10px;
 border: 3px solid #fff;
 opacity: 0.5;
}

.plus {
 background: rgb(255, 255, 255);
 height: 38px;
 position: absolute;
 width: 3px;
 top: 350px;
 right: 0px;
 border-radius: 2px;
}

.plus:after {
 background: rgb(255, 255, 255);
 content: "";
 height: 3px;
 left: -17px;
 position: absolute;
 top: 16px;
 width: 39px;
 border-radius: 2px;
}

.triangle-1 {
 position: absolute;
 width: 27px;
 height: 47px;
 left: -95px;
 right: 0px;
 top: 350px;
 border-left: 3px solid #e7e7e7;
}
.triangle-1::after {
 position: absolute;
 content: "";
 border-top: 3px solid white;
 border-right: 3px solid white;
 height: 44px;
 width: 41px;
 transform: rotate(30deg) skew(-22deg);
 left: -21px;
 top: 3px;
}

.triangle-2 {
 position: absolute;
 width: 27px;
 height: 47px;
 left: -85px;
 top: 370px;
 border-left: 1px solid #fff;
}

.triangle-2::after {
 position: absolute;
 content: "";
 border-top: 1px solid white;
 border-right: 1px solid white;
 height: 40px;
 width: 41px;
 transform: rotate(33deg) skew(-20deg);
 left: -21px;
 top: 3px;
}

/* service btn */
.btn-arrow {
 display: inline-block;
 width: 8px;
 height: 8px;
 margin-left: 0.5em;
 border-top: 2px solid #fff;
 border-right: 2px solid #fff;
 position: relative;
 bottom: 3px;
}
.btn-arrow::after {
 content: "";
 position: absolute;
 height: 2px;
 width: 12px;
 top: 35%;
 left: -50%;
 background-color: #fff;
 transform: rotate(-45deg);
}

/* feature section */
.feature-section {
 background: linear-gradient(-80deg, #25201d, #252541);
 padding-bottom: 3em;
}
.feature-section-title {
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.feature-section-title h1 {
 font-weight: bold;
 font-size: 4em;
 letter-spacing: 3px;
}
.feature-text {
 font-size: 1.3rem;
}
.feature-image {
 position: relative;
}
.feature-image img {
 margin: 0 auto;
 margin-top: 2em;
 width: 100%;
}
.feature-play-btn {
 position: absolute;
 top: 50%;
 left: 50%;
 width: 100px;
 height: 100px;
 border-radius: 50%;
 transform: translate(-50%, -50%);
 background-color: #5454d4;
}
.feature-play-btn::before {
 content: "";
 position: absolute;
 top: 26%;
 right: 23%;
 width: 0;
 height: 0;
 border-style: solid;
 border-width: 25px 0 25px 40px;
 border-color: transparent transparent transparent rgba(255, 255, 255, 0.76);
}
/* Service Section */
.service-section {
 background: linear-gradient(-80deg, #25201d, #252541);
 padding: 3em 0;
 text-align: center;
}
.service-title {
 font-size: 4rem;
 position: relative;
}
.triangle-3 {
 position: absolute;
 top: 0px;
 left: 90px;
 border-left: 3px solid #e7e7e7;
 width: 27px;
 height: 47px;
}
.triangle-3::after {
 position: absolute;
 content: "";
 border-top: 3px solid #fff;
 border-right: 3px solid #fff;
 height: 41px;
 width: 41px;
 transform: rotate(32deg) skew(-22deg);
 left: -21px;
 top: 3px;
}
.triangle-4 {
 position: absolute;
 top: 15px;
 left: 98px;
 border-left: 1px solid #e7e7e7;
 width: 27px;
 height: 47px;
}
.triangle-4::after {
 position: absolute;
 content: "";
 border-top: 1px solid #fff;
 border-right: 1px solid #fff;
 height: 41px;
 width: 41px;
 transform: rotate(32deg) skew(-22deg);
 left: -21px;
 top: 3px;
}

.cross {
 background: rgb(255, 255, 255);
 position: absolute;
 height: 30px;
 width: 4px;
 top: 90px;
 right: 50px;
 border-radius: 3px;
 transform: rotate(55deg);
}
.cross::after {
 content: "";
 position: absolute;
 height: 4px;
 width: 30px;
 background-color: #fff;
 border-radius: 3px;
 top: 13px;
 left: -14px;
}
.services-items {
 margin-top: 5em;
}
.service-text {
 color: #bcbbbb;
 font-size: 1.3rem;
 font-weight: lighter;
}

.dev-icon,
.fa-camera-retro {
 color: #5454d4;
 display: inline-block;
 padding: 1em;
 font-size: 1.8rem;
 background-color: #202030;
 border-radius: 50%;
}
.fa-layer-group,
.fa-film {
 color: #f04036;
 display: inline-block;
 font-size: 1.8rem;
 padding: 1em;
 background-color: #331f20;
 border-radius: 50%;
}
.graphics-icon,
.fa-map-signs {
 color: #ffdc5a;
 display: inline-block;
 font-size: 1.8rem;
 padding: 1em;
 background-color: #383122;
 border-radius: 50%;
}
/* Portfolio Section */

.portfolio-section {
 background: linear-gradient(-80deg, #25201d, #252541);
 padding: 4rem;
}
.portfolio-title {
 position: relative;
}
.cross-2 {
 background: rgb(255, 255, 255);
 position: absolute;
 height: 30px;
 width: 4px;
 top: -90px;
 left: -20px;
 border-radius: 3px;
 transform: rotate(70deg);
}
.cross-2::after {
 content: "";
 position: absolute;
 height: 4px;
 width: 30px;
 background-color: #fff;
 border-radius: 3px;
 top: 13px;
 left: -14px;
}

.circles-2 {
 width: 30px;
 height: 30px;
 padding: 20px 20px;
 border: 3px solid #fff;
 border-radius: 50%;
 position: absolute;
 font-weight: bold;
 top: 20px;
 right: 140px;
}

.circles-2::before {
 content: "";
 width: 50px;
 height: 50px;
 border-radius: 50%;
 position: absolute;
 top: 8px;
 left: 15px;
 border: 2px solid #fff;
 opacity: 0.5;
}

.portfolio-title::before {
 content: "";
 position: absolute;
 width: 400px;
 height: 200px;
 right: 0;
 top: 0;
 background: linear-gradient(
  180deg,
  rgba(84, 84, 212, 1.2) 0%,
  rgba(84, 84, 212, 0.084) 100%
 );
 filter: blur(199.107px);
 filter: blur(199.107px);
 border-radius: 154.972px;
 transform: matrix(-0.58, -0.81, -0.81, 0.58, 0, 0);
}
.portfolio-img-1 {
 margin-top: 1em;
 padding: 1em;
}
.portfolio-img-2 {
 margin-top: 3em;
 padding: 1em;
}
.portfolio-img-3 {
 margin-top: 5em;
 padding: 1em;
}
.portfolio-image:hover img {
 box-shadow: 0px 0px 8px #ffdc5a;
 border-radius: 10px;
 cursor: pointer;
}
.btn-1 {
 height: 6px;
 width: 4px;
 background-color: #5454d4;
 border-radius: 3px;
}
.btn-2 {
 height: 6px;
 width: 1px;
 background-color: #131314;
 border-radius: 3px;
}
.btn-3 {
 height: 6px;
 width: 1px;
 background-color: #131314;
 border-radius: 3px;
}
.btn-container {
 position: relative;
}
.zigzag-2 {
 position: absolute;
 width: 24px;
 height: 20px;
 left: 0px;
 top: 30px;
 border-bottom: 3px solid #e7e7e7;
 border-right: 3px solid #e7e7e7;
 transform: rotate(40deg);
}
.zigzag-2::before {
 content: "";
 position: absolute;
 width: 24px;
 height: 20px;
 left: 23px;
 top: -17px;
 border-bottom: 3px solid #e7e7e7;
 border-right: 3px solid #e7e7e7;
}
.zigzag-2::after {
 content: "";
 position: absolute;
 width: 24px;
 height: 20px;
 left: 45px;
 bottom: 31px;
 border-bottom: 3px solid #e7e7e7;
 transform: rotate(5deg);
}

/* Contact Section */
.contact-section {
 background-color: #1a1a24;
 padding: 10rem 0;
}
.contact-text {
 position: relative;
}
.circles-3 {
 position: absolute;
 height: 38px;
 width: 38px;
 border: 3px solid #fff;
 border-radius: 50%;
 bottom: -90px;
}
.circles-3::after {
 content: "";
 position: absolute;
 height: 40px;
 width: 40px;
 border: 1px solid #fff;
 border-radius: 50%;
 top: 10px;
 left: 13px;
}
.contactus-text {
 position: relative;
}
.plus-2 {
 background: rgb(255, 255, 255);
 height: 38px;
 position: absolute;
 width: 3px;
 top: -100px;
 right: 110px;
 border-radius: 5px;
}
.plus-2::after {
 content: "";
 position: absolute;
 height: 3px;
 width: 38px;
 background-color: #fff;
 border-radius: 5px;
 top: 17px;
 left: -17px;
}
footer {
 padding: 3rem 0;
 background-color: #19191b;
}
.footer-logo {
 display: flex;
 align-items: center;
}
.footer-links {
 display: flex;
 align-items: center;
 justify-content: space-between;
}
.footer-links a {
 color: #bcbbbb;
}
.footer-copyright {
 color: #bcbbbb;
 display: flex;
 align-items: center;
 justify-content: end;
}
.footer-copyright p {
 margin: 0;
}
/* media Query */

@media screen and (max-width: 768px) {
 nav {
  flex-direction: column;
 }
 .circles {
  left: 284px;
  top: 20px;
 }

 .plus {
  left: 320px;
  top: 450px;
 }

 /* .person {
  width: 70%;
  margin-left: 60px;
  margin-top: 100px;
 } */

 .zigzag {
  left: 50px;
  top: 35px;
 }

 .triangle-1 {
  left: 30px;
  top: 427px;
 }

 .triangle-2 {
  left: 37px;
  top: 440px;
 }

 .feature-section-title {
  flex-direction: column;
 }
}

@media screen and (max-width: 415px) {
 nav ul {
  flex-direction: column;
  margin: 1em 0;
  padding: 0;
 }
 .banner-image::before {
  top: 60px;
  left: 35px;
 }

 .feature-section {
  padding-top: 10rem;
 }
 .feature-play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: #5454d4;
 }
 .feature-play-btn::before {
  content: "";
  position: absolute;
  top: 29%;
  right: 30%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.76);
 }
 .feature-image img {
  width: 100%;
 }
 .feature-section-title {
  align-items: flex-start;
 }
 .feature-section-title h1 {
  font-size: 2rem;
 }
 .service-title {
  font-size: 2rem;
 }
 .triangle-3 {
  top: -50px;
  left: 30px;
 }
 .triangle-4 {
  top: -38px;
  left: 38px;
 }
 .plus-2 {
  top: -180px;
  left: 200px;
 }
 .circles-2 {
  top: 60px;
  right: 10px;
 }
 .circles-3 {
  top: 200px;
 }
 .footer-links {
  margin: 1em 0;
  flex-direction: column;
  align-items: flex-start;
 }
 .footer-copyright {
  display: block;
  margin-bottom: 1em;
 }
}
